---
import Layout from '../layouts/Layout.astro'
import Chart01 from '../components/chart-01.astro'
import Chart02 from '../components/chart-02.astro'
import Chart03 from '../components/chart-03.astro'
import Chart04 from '../components/chart-04.astro'
---

<Layout title="Charts | TailAdmin - Tailwind CSS Admin Dashboard Template">
  <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <!-- Breadcrumb Start -->
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <h2 class="text-title-md2 font-bold text-black dark:text-white">Chart</h2>

      <nav>
        <ol class="flex items-center gap-2">
          <li><a class="font-medium" href="index.html">Dashboard /</a></li>
          <li class="font-medium text-primary">Chart</li>
        </ol>
      </nav>
    </div>
    <!-- Breadcrumb End -->

    <div class="grid grid-cols-12 gap-4 md:gap-6 2xl:gap-7.5">
      <div class="col-span-12">
        <Chart04 />
      </div>
      <Chart01 />
      <Chart02 />
      <Chart03 />
    </div>
  </div>
</Layout>
