---
import Layout from '../layouts/Layout.astro'
import Chart01 from '../components/chart-01.astro'
import Chart02 from '../components/chart-02.astro'
import Chart03 from '../components/chart-03.astro'
import Chart04 from '../components/chart-04.astro'
import Breadcrumb from '../components/breadcrumb.astro'
const pageName = 'Chart'
---

<Layout {pageName}>
  <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <Breadcrumb {pageName} />

    <div class="grid grid-cols-12 gap-4 md:gap-6 2xl:gap-7.5">
      <div class="col-span-12">
        <Chart04 />
      </div>
      <Chart01 />
      <Chart02 />
      <Chart03 />
    </div>
  </div>
</Layout>
