---
import Layout from '../layouts/Layout.astro'
import Table01 from '../components/table-01.astro'
import Table02 from '../components/table-02.astro'
import Table03 from '../components/table-03.astro'
import Breadcrumb from '../components/breadcrumb.astro'
const pageName = 'Tables'
---

<Layout {pageName}>
  <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <Breadcrumb {pageName} />

    <!-- ====== Table Section Start -->
    <div class="flex flex-col gap-10">
      <Table01 />
      <Table02 />
      <Table03 />
    </div>
    <!-- ====== Table Section End -->
  </div>
</Layout>
